.main-container {
  padding: 3rem;
  background-image: url(../assets/backroud-circles.svg);
  background-size: cover;
  background-position: 50%;
  margin: 0;
}

html, body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.row {
  margin-bottom: 1rem;
}