.employee-container {
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    width: fit-content;
    padding: 3rem;
    background-color: rgba(248, 249, 250, 1)!important;
}

.form-setion {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}